@model ORM.Models.Book

@{
    ViewData["Title"] = "Delete Book";
}

<h2>Delete Book</h2>

<h3>Are you sure you want to delete this book?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9">@Model.Title</dd>

        <dt class="col-sm-3">Author</dt>
        <dd class="col-sm-9">@Model.Author</dd>

        <dt class="col-sm-3">Price</dt>
        <dd class="col-sm-9">@Model.Price.ToString("N0")</dd>

        <dt class="col-sm-3">Published Year</dt>
        <dd class="col-sm-9">@Model.PublishedYear</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
